# Google AI Studio
GOOGLE_API_KEY=

# Pinecone
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_WEBSITE_INDEX=
PINECONE_CURRICULUM_INDEX=

# Calendar
GOOGLE_CALENDAR_ID=

# Email / Gmail
GMAIL_SENDER_EMAIL=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# Application
APP_ENV=development
